/* $background-color: #ebe4d4; */
body {
  background-color: #1a1e3b;
  font-family: 'Righteous', cursive;
}

.app-container {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  color: white;
  text-align: center;
}

.error {
  text-align: center;
  margin: 40px auto;
}
