body {
  background-color: #120e22;
  background-image: url('./assets/space.jpg');
  font-family: 'Righteous', cursive;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 200px;
  margin: 0;
}

.app-container {
  margin: 0 auto;
  width: 80%;
}

h1 {
  color: #f0e14a;
  text-align: center;
}

.error {
  text-align: center;
  margin: 40px auto;
  color: white;
}
