.passwordStrength {
  margin: 5px 5px 5px 5px;
  opacity: 1;
  height: 18px;
  transition: opacity 0.5s ease;
  width: 200px;

  &.hidden {
    opacity: 0;
  }
}

.progressBar {
  height: 6px;
  background-color: #d4e1f2;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  width: 200px;
  .progressFill {
    width: 0;
    height: 100%;
    transition:
      width 0.5s ease,
      background-color 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
  }

  .veryWeak {
    background-color: #ff4d4d;
  }

  .weak {
    background-color: #ff9933;
  }

  .medium {
    background-color: #ffcc00;
  }

  .strong {
    background-color: #4caf50;
  }
}

.strengthText {
  margin-top: 2px;
  font-size: 10px;
  color: rgb(70, 70, 70);
}
